<form >
    <div class="container">
      <h1>Registro de encuesta</h1>
      <p>Por favor complete la siguiente información.</p>
      <hr>
  
      <label for="pregunta"><b>Pregunta</b></label>
      <input type="text" placeholder="¿Qué quiere preguntar?" name="pregunta" id="pregunta" required>
  
      <label for="op1"><b>Opción 1</b></label>
      <input type="text" placeholder="Escriba la opción" name="op1" id="op1" required>
  
      <label for="op2"><b>Opción 2</b></label>
      <input type="text" placeholder="Escriba la opción" name="op2" id="op2" required>

      <label for="op3"><b>Opción 3</b></label>
      <input type="text" placeholder="Escriba la opción" name="op3" id="op3" required>
      
      <hr>
  
      <button type="submit" class="registerbtn">Guardar</button>
    </div>
    
</form>