{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">


<body>
    <div class="encabezado">
        <div class="logos">
            <img src="{% static 'polls/images/logo1.png' %}" alt="Logo Empresa" class="logo">
            <div class="titulo">Info Encuestas</div>
            <img src="{% static 'polls/images/logo2.png' %}" alt="Logo Institución" class="logo">
        </div>
        <div class="menu">
            <a href="{% url 'polls:indice' %}">Inicio</a>
            <a href="{% url 'polls:crear_pregunta' %}">Hacer encuesta</a>
            <a href="{% url 'polls:mapa' %}">Mapa</a>
        </div>
    </div>


    <!-- Contenido -->
    <div class="contenido_simple">
        <form action="{% url 'polls:votacion' pregunta.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <h1 class="titulo_centrado">{{ pregunta.texto_pregunta }}</h1>
                <p><strong>Seleccione una opción</strong></p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% for opcion in pregunta.opcion_set.all %}
                    <input type="radio" name="opcion" id="opcion{{ forloop.counter }}" value="{{ opcion.id }}">
                    <label for="opcion{{ forloop.counter }}">   {{ opcion.texto_opcion }}</label><br>
                    <p></p>
                {% endfor %}
                <p></p>
            
            <input type="submit" value="Votar">
            </fieldset>
        </form>
    </div>
</body>
