{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>


<body>
    <div class="encabezado">
        <div class="logos">
            <img src="{% static 'polls/images/logo1.png' %}" alt="Logo Empresa" class="logo">
            <div class="titulo">Info Encuestas</div>
            <img src="{% static 'polls/images/logo2.png' %}" alt="Logo Institución" class="logo">
        </div>
        <div class="menu">
            <a href="{% url 'polls:indice' %}">Inicio</a>
            <a href="{% url 'polls:crear_pregunta' %}">Hacer encuesta</a>
            <a href="{% url 'polls:mapa' %}">Mapa</a>
            
        </div>
    </div>

    
    <div class="contenido">
        <div class="barra_lateral">
            <!-- Contenido de barra_lateral -->
            <p> <strong>Encuestas más votadas </strong> </p>
            {% if mas_votadas %}
            {% for pregunta in mas_votadas %}
                <li><a href="{% url 'polls:resultados' pregunta.id %}">{{ pregunta.texto_pregunta }}</a></li>
                <p></p>
            {% endfor %}
            </ul >
            {% else %}
                <p>Lo sentimos. Aún no hay preguntas.</p>
            {% endif %}

            <p> <strong>Encuestas votadas recientemente </strong> </p>
            
            {% if mas_votadas %}
            {% for pregunta in votadas_reciente %}
                <li><a href="{% url 'polls:resultados' pregunta.id %}">{{ pregunta.texto_pregunta }}</a></li>
                <p></p>
            {% endfor %}
            </ul>
            {% else %}
                <p>Lo sentimos. Aún no hay preguntas.</p>
            {% endif %}
        </div>
        <!-- Contenido -->
        <div class="contenido_principal">
            <legend><h1 class="titulo_centrado">MAPA WEB</h1></legend>
            <div id="map"></div>
            <script>
                // Inicializar el mapa en un centro específico y un nivel de zoom
                var map = L.map('map').setView([19.4374, -99.1402], zoom=12);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
                
                
                $.getJSON("{% static 'polls/alcaldias.geojson' %}", function(alcaldias) {
                    L.geoJson(alcaldias).addTo(map);
                });

                /*
                    fetch("{% static 'polls/alcaldias.geojson' %}")
                        .then(response => response.json())
                        .then(data => {
                            L.geoJSON(data).addTo(map);
                        });
                */
            
              </script>
        </div>

    </div>
</body>



